.home-black{
    cursor: pointer;
    position: absolute;
    bottom: 28px;
    right: 28px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border-style: none;
}

.home-black:hover{
 box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.51);
 -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.51);
 -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.51);
 transition: all 0.3s ease-in;
}

.home-icon{
    width: 40px;
}

